# Dirs
WanderingEarth/.vs/
WanderingEarth/Logs/
WanderingEarth/Temp/
WanderingEarth/Library/
WanderingEarth/Packages/
WanderingEarth/obj/

#
*.csproj
*.sln
./WanderingEarth/ProjectSettings/ProjectVersion.txt
